# The number of milliseconds of each tick
#客户端和服务端保持心跳的毫秒数
tickTime=2000
# The number of ticks that the initial 
# synchronization phase can take
#初始能容忍的心跳数
initLimit=10
# The number of ticks that can pass between 
# sending a request and getting an acknowledgement
#等待最大容忍的心跳数
syncLimit=5
# the directory where the snapshot is stored.
# do not use /tmp for storage, /tmp here is just 
# example sakes.
#快照日志：zookeeper的数据在内存中是以树形结构进行存储的，而快照就是每隔一段时间就会把整个DataTree的数据序列化后存储在磁盘中，这就是zookeeper的快照文件。
dataDir=/apps/apppid/zookeeperData
#事务日志：事务日志指zookeeper系统在正常运行过程中，针对所有的更新操作，在返回客户端“更新成功”的响应前，zookeeper会保证已经将本次更新操作的事务日志已经写到磁盘上，只有这样，整个更新操作才会生效。
dataLogDir=/apps/applogs/zookeeper-logs
#log4j日志在安装目录下配置
# the port at which the clients will connect
#监听端口
clientPort=2181
#新版本通过jetty启动的内嵌管理台
admin.serverPort=8040
#网卡和ip不一致，就是这个导致启动不了，需要加上这行
quorumListenOnAllIPs=true
# the maximum number of client connections.
# increase this if you need to handle more clients
#maxClientCnxns=60
#
# Be sure to read the maintenance section of the 
# administrator guide before turning on autopurge.
#
# http://zookeeper.apache.org/doc/current/zookeeperAdmin.html#sc_maintenance
#
# The number of snapshots to retain in dataDir
#autopurge.snapRetainCount=3
# Purge task interval in hours
# Set to "0" to disable auto purge feature
#autopurge.purgeInterval=1
#最前面是myid,主机ip/服务间心跳连接端口/数据端口
server.1=1.116.106.32:2888:3888
server.2=47.97.20.228:2888:3888
server.3=175.24.249.111:2888:3888